.side {
    width: 650px;
height: 626px;
}
.text {
    font-family: Arial;
  }
.menu {
    width: 635px;
    margin-top: 20px;
    margin-left: 60px;
    }
.btn-menu {
    width: 77px;
    height: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 20px;
    letter-spacing: 0;
    text-align: center;
    text-decoration: none;
}
.poster {
    width: 635px;
    height: 320px;
    margin-top: 10px;
   }
.title {
    text-align: center;
    }
.attention {
    color: #256e9b;
}
.more {
    text-align: center;
    text-decoration: none;
    margin-bottom: 50px;    
       }
    .back-more {
        background-color: rgb(0, 140, 255);
        color: antiquewhite;
        padding: 0;
        border-bottom: 3px;
    }
    .last-line {
        text-align: center;
        border-color: black;
        border-top: 1px solid black;
          }

    

